@model Project0.Library.Location

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            Inventory
        </dt>
        <dd class="col-sm-10">
            @{bool comma = false;}
            @foreach (var pair in Model.Inventory)
            {
                @if (comma)
                {
                    @(", ")
                }
                @Html.DisplayFor(model => pair.Key.Name)@(" - ")
                @Html.DisplayFor(model => pair.Value)
                comma = true;
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
