@model IEnumerable<Project0.Library.Pizza>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PizzaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Ingredients
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @for (int i = 0; i < item.RequiredIng.Count; i++)
                {

                    @Html.DisplayFor(modelItem => item.RequiredIng[i].Name)
                    @if(i != item.RequiredIng.Count - 1)
                    {
                        @(", ")
                    }

                }
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.PizzaId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.PizzaId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PizzaId })
            </td>
        </tr>
}
    </tbody>
</table>
